Import the libraries

Load the data into the Python Notebook

In [1]:
import pandas as pd
january2013=pd.read_csv("data/yellow_tripdata_2013-01.csv")
"""
february2013=pd.read_csv("data/yellow_tripdata_2013-02.csv")
march2013=pd.read_csv("data/yellow_tripdata_2013-03.csv")
april2013=pd.read_csv("data/yellow_tripdata_2013-04.csv")
may2013=pd.read_csv("data/yellow_tripdata_2013-05.csv")
june2013=pd.read_csv("data/yellow_tripdata_2013-06.csv")
july2013=pd.read_csv("data/yellow_tripdata_2013-07.csv")
august2013=pd.read_csv("data/yellow_tripdata_2013-08.csv")
september2013=pd.read_csv("data/yellow_tripdata_2013-09.csv")
october2013=pd.read_csv("data/yellow_tripdata_2013-10.csv")
november2013=pd.read_csv("data/yellow_tripdata_2013-11.csv")
december2013=pd.read_csv("data/yellow_tripdata_2013-12.csv")
"""

In [2]:
january2013.head(1)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2013-01-01 15:11:48,2013-01-01 15:18:10,4,1.0,-73.978165,40.757977,1,N,-73.989840,40.751173,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,CMT,2013-01-06 00:18:35,2013-01-06 00:22:54,1,1.5,-74.006680,40.731781,1,N,-73.994499,40.750659,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,CMT,2013-01-05 18:49:41,2013-01-05 18:54:23,1,1.1,-74.004711,40.737770,1,N,-74.009831,40.726000,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,CMT,2013-01-07 23:54:15,2013-01-07 23:58:20,2,0.7,-73.974600,40.759945,1,N,-73.984737,40.759388,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,CMT,2013-01-07 23:25:03,2013-01-07 23:34:24,1,2.1,-73.976252,40.748528,1,N,-74.002583,40.747867,CSH,9.5,0.5,0.5,0.0,0.0,10.5

Getting the day of week for each row

We will be basing it on the pickup_datetime and adding it as a new column called weekday

0 = Monday

1 = Tuesday 

   ...
   
7 = Sunday

In [7]:
january_timestamp = pd.to_datetime(pd.Series(january2013['pickup_datetime']))
january_timestamp_array = []
for index in january_timestamp:
    january_timestamp_array.append(index.dayofweek)
january2013['weekday'] = january_timestamp_array
print("Finished January")

"""
february_timestamp = pd.to_datetime(pd.Series(february2013['pickup_datetime']))
february_timestamp_array = []
for index in february_timestamp:
    february_timestamp_array.append(index.dayofweek)
february2013['weekday'] = february_timestamp_array
print("Finished February")

march_timestamp = pd.to_datetime(pd.Series(march2013['pickup_datetime']))
march_timestamp_array = []
for index in march_timestamp:
    march_timestamp_array.append(index.dayofweek)
march2013['weekday'] = march_timestamp_array
print("Finished March")

april_timestamp = pd.to_datetime(pd.Series(april2013['pickup_datetime']))
april_timestamp_array = []
for index in apriltimestamp:
    april_timestamp_array.append(index.dayofweek)
april2013['weekday'] = april_timestamp_array
print("Finished April")
"""

In [8]:
january2013.head(10)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount,weekday
0,CMT,2013-01-01 15:11:48,2013-01-01 15:18:10,4,1.0,-73.978165,40.757977,1,N,-73.989840,40.751173,CSH,6.5,0.0,0.5,0.0,0.0,7.0,1
1,CMT,2013-01-06 00:18:35,2013-01-06 00:22:54,1,1.5,-74.006680,40.731781,1,N,-73.994499,40.750659,CSH,6.0,0.5,0.5,0.0,0.0,7.0,6
2,CMT,2013-01-05 18:49:41,2013-01-05 18:54:23,1,1.1,-74.004711,40.737770,1,N,-74.009831,40.726000,CSH,5.5,1.0,0.5,0.0,0.0,7.0,5
3,CMT,2013-01-07 23:54:15,2013-01-07 23:58:20,2,0.7,-73.974600,40.759945,1,N,-73.984737,40.759388,CSH,5.0,0.5,0.5,0.0,0.0,6.0,0
4,CMT,2013-01-07 23:25:03,2013-01-07 23:34:24,1,2.1,-73.976252,40.748528,1,N,-74.002583,40.747867,CSH,9.5,0.5,0.5,0.0,0.0,10.5,0
5,CMT,2013-01-07 15:27:48,2013-01-07 15:38:37,1,1.7,-73.966743,40.764252,1,N,-73.983322,40.743762,CSH,9.5,0.0,0.5,0.0,0.0,10.0,0
6,CMT,2013-01-08 11:01:15,2013-01-08 11:08:14,1,0.8,-73.995801,40.743978,1,N,-74.007418,40.744344,CSH,6.0,0.0,0.5,0.0,0.0,6.5,1
7,CMT,2013-01-07 12:39:18,2013-01-07 13:10:56,3,10.7,-73.989937,40.756773,1,N,-73.865248,40.770630,CSH,34.0,0.0,0.5,0.0,4.8,39.3,0
8,CMT,2013-01-07 18:15:47,2013-01-07 18:20:47,1,0.8,-73.980071,40.743138,1,N,-73.982710,40.735337,CSH,5.5,1.0,0.5,0.0,0.0,7.0,0
9,CMT,2013-01-07 15:33:28,2013-01-07 15:49:26,2,2.5,-73.977937,40.786983,1,N,-73.952919,40.806368,CSH,13.0,0.0,0.5,0.0,0.0,13.5,0